* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* --------------------------------------------------- */

.timer {
  display: flex;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  margin: 0 auto;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
}

.value {
  display: block;
  color: red;
  font-weight: 700;
}

.label {
  display: block;
}
